.outter_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f9f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  & .form_holder {
    position: relative;
    padding: 0 1.2rem;
    & #form__submnt {
      position: relative;
      display: flex;
      min-width: 300px;
      width: 100%;
      max-width: 600px;

      & .url_ {
        position: relative;
        height: 37px;
        text-indent: 1rem;
        flex-grow: 1;
        border-radius: 30px;
        border: 2px solid #d5d5d5;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        &:hover {
          border-color: slateblue;
          box-shadow: none;
          transition: all 0.5s ease;
        }
      }
      & .sub_go {
        position: relative;
        margin-left: 10px;
        //   padding: 1.1rem;
        width: 35px;
        height: 35px;
        border: 2px solid red;
        border-radius: 50%;
        cursor: pointer;
        background-color: green;
        color: #ffffff;
        border-color: #ffffff;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        &:hover {
          border-color: slateblue;
          box-shadow: none;
          transition: all 0.5s ease;
        }
      }
    }
  }
  & .modal_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.7rem;
    & .modal_bx {
      position: relative;
      width: 100%;
      min-width: 300px;
      width: 100%;
      max-width: 600px;
      background-color: #ffffff;
      border-radius: 6px;
      padding: 1rem;
      box-shadow: -4px 6px 8px rgba(0, 0, 0, 0.48);
      border: 2px solid #f7f7f7;
      & .top__ {
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 0.4rem;
        border-bottom: 2px solid #d5d5d5;
        & .cancel {
          position: relative;
          font-size: 17px;
          background: none;
          cursor: pointer;
          padding: 0.1rem 0.3rem;
          color: red;
          border: none;
          outline: none;
        }
      }
      & .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        & .cnt {
          & a {
            color: #4c4a4c;
          }
        }
        & .copy_btn {
          position: relative;
          border: 1px solid #ccc;
          margin-left: 10px;
          background: none;
          cursor: pointer;
          color: #000000;
          padding: 0.35rem;
          transition: all 0.5s ease;
          &:hover {
            background: #d5d5d5;
            color: #fff;
          }
          & .copy_icn {
            height: 290px;
            height: 22px;
          }
        }
      }
    }
  }
}
